:root { 
    --primary-color: #089da1; 
    --primary-text: white; 
    --dark-color: #227376;
     --black-color: black; 
     --section-padding: 50px; 
    --font-type: Arial, Helvetica, sans-serif;
 }
 .home { padding:
    var(--section-padding); 
    background: url('/image/bg.png') no-repeat center/cover;
    min-height: 100vh; 
    display: flex; 
    align-items: center; 
    }
.row { 
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
 }
 .content { 
    flex: 1; 
    max-width: 45%; 
    margin-top: 0; 
    padding-left: 30px; 
}
.title1, .title2 { 
    font-weight: bold; 
    font-size: 65px; 
    margin: 0; 
    font-family:var(--font-type);
 }
.title1 { 
    color: var(--black-color);
 } 
.title2 { 
    color: var(--primary-color); 
    margin-top: 10px; 
} 
.contentP { 
    margin-top: 40px; 
    line-height: 1.7; 
    font-family: var(--font-type); 
    color: var(--black-color);
 }

 .btn { 
    margin-top: 25px; 
    display: inline-block; 
    padding: 12px 26px; 
    border-radius: 4px; 
    color: var(--primary-text);
    background-color: var(--primary-color); 
    font-size: 17px; 
    cursor: pointer; 
    transition: 0.3s ease; 
    font-family: var(--font-type); 
}
.btn:hover { 
    background: var(--dark-color); 
} 
.image {
     flex: 1; 
     display: flex; 
     justify-content: center;
 } 
.bookshelf { 
        width: 900px; 
        max-width: 100%; 
        margin-top: -120px; 
    }

@media (max-width: 900px) { 
    .row { 
        flex-direction: column; 
        text-align: center; gap: 40px; } 
    .content, .image 
        { 
            max-width: 100%; 
        
        } 
    .bookshelf 
    { 
        width: 100%; 
    }
 } 
    
    
@media (max-width: 600px) {
     .btn{ 
        font-size: 16px; 
        padding: 12px 20px;
     } 
     .title1 {
         font-size: 38px;
         } 
         .title2 { 
            font-size: 42px;
         } 
        }   

